@page "/Dashboard"
@using Canthenos.Login

@inject NavigationManager NavigationManager
@inject IPassword Passwords

<PageTitle>Dashboard</PageTitle>

@if (_isLoggedIn)
{
    <div>
        <h3>Dashboard</h3>
        <p>Congratulations, you are logged in!</p>
    </div>

    <form>
        <h5>Create new menu</h5>

        <div>
            <label>
                <p>Name</p>
                <input type="text">
            </label>
            
            <label>
                <p>Image path</p>
                <input type="text">
            </label>
        </div>

        <br>

        <div>
            <button type="button">Submit</button>
        </div>
    </form>
}


@code {

    private bool _isLoggedIn;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        var (loggedIn, roleId) = await Passwords.LoggedIn();
        _isLoggedIn = loggedIn;
        if (!_isLoggedIn) NavigationManager.NavigateTo("login", true);
        StateHasChanged();
    }

}