@page "/"

<PageTitle>Home</PageTitle>


<WeeklyMenu></WeeklyMenu>

<div class="full wrapper" style="background-color: var(--text5); min-height: 500px; padding-block: 5em;">
    <h3 style="margin: 0 0 .5em">Free Breakfast</h3>
    <Product Type="Dish" Name="Oatmeal" Image="products/dishes/oatmeal.jpg" Price="0.00"></Product>
</div>

<Products></Products>
