@page "/"

<PageTitle>Home</PageTitle>

@* <LoginForm></LoginForm> *@

@* <Formula1Drivers></Formula1Drivers> *@

<div class="wrapper">
    <WeeklyMenu></WeeklyMenu>
</div>

<div class="wrapper">
    <Products></Products>
</div>