<div class="wrapper">
    <table>
        <tr>
            <th>Driver Number</th>
            <th>Name</th>
            <th>Team</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Max Verstappen</td>
            <td>Red Bull Racing</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Sergio Perez</td>
            <td>Red Bull Racing</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Daniel Ricciardo</td>
            <td>RB</td>
        </tr>
        <tr>
            <td>22</td>
            <td>Yuki Tsunoda</td>
            <td>RB</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Lando Norris</td>
            <td>McLaren</td>
        </tr>
        <tr>
            <td>81</td>
            <td>Oscar Piastri</td>
            <td>McLaren</td>
        </tr>
    </table>
</div>