@using Canthenos.Web.Models
<div class="loginForm">
    <div class="loginForm__container">
        <EditForm Model="@_login" OnValidSubmit="@Login" class="loginForm__container__form">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>

            <div class="loginForm__container__form__hero">
                <p class="title">Login</p>
                <p class="description">Login with your username and password.</p>
            </div>

            <div class="loginForm__container__form__inputField">
                <div class="loginForm__container__form__inputField__input">
                    <InputText id="username" @bind-Value="_login.Username" placeholder="Username"></InputText>
                </div>

                <div class="loginForm__container__form__inputField__input">
                    <InputText type="password" id="password" @bind-Value="_login.Password" placeholder="Password"></InputText>
                </div>
            </div>

            <div class="loginForm__container__form__notice">
                <p>Not your computer? Use a Private Window to sign in.</p>
            </div>

            <div class="loginForm__container__form__submitField">
                <button type="submit">Login</button>
            </div>
        </EditForm>
    </div>
</div>

@code {

    private LoginModel _login = new();

    private async Task Login()
    {
        Console.WriteLine($"Username: {_login.Username}, Password: {_login.Password}");
    }

}