<div class="products_drinks">
    <div class="products_drinks__container">

        <p class="title">Drinks</p>

        <div class="products_drinks__container__drink">

            <div class="products_drinks__container__drink__top">
                <div class="products_drinks__container__drink__top__text">
                    <p class="volume">500ml</p>
                    <p class="type">Soda</p>
                </div>

                <div class="products_drinks__container__drink__top__cover">
                    <img src="images/products/drinks/coca-cola-classic.png" alt="Image of drink">
                </div>
            </div>

            <div class="products_drinks__container__drink__bottom">
                <div class="products_drinks__container__drink__bottom__item">
                    <p class="name">Coca-Cola</p>
                    <p class="flavor">Classic</p>
                </div>

                <div class="products_drinks__container__drink__bottom__price">
                    <p class="amount">27.50</p>
                    <p class="currency">NOK</p>
                </div>
            </div>

        </div>

    </div>
</div>