<div class="products">
    <div class="products__container">

        @* <div class="products__container__button button-primary" data-filter="baguettes"> *@
        @*     <div class="products__container__button__content"> *@
        @*         <span>Baguettes</span> *@
        @*     </div> *@
        @* </div> *@

        <Products_Drinks></Products_Drinks>

    </div>
</div>