@use "../../base" as *;

.weekly_menu {
    display: grid;
    gap: 3em;

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 250px));
        place-content: center;
        gap: 1.5em 1em;
        
        @media (width <= 700px) {
            display: flex;
            flex-direction: column;
            flex: 1 0 0;
        }
    }
}