@use "mixins" as *;

:root {
    --spacing-inline: 5em;
    
    @include respond-to('large') {
        --spacing-inline: 5em;
    }

    @include respond-to('medium') {
        --spacing-inline: 3em;
    }

    @include respond-to('small') {
        --spacing-inline: 1em;
    }
    
    @include respond-to('tiny') {
        --spacing-inline: .25em;
    }
}
