@use "../base" as *;

.brand_component {
    &__link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5em;
        
        text-decoration: none;
    }

    &__logo {
        width: 2.25em;
    }

    &__name {
        font-size: $h4;
    }
}
