@use "../base" as *;

.products {
    &__container {
        &__button {

            &[data-filter="baguettes"] {
                background-color: transparent;
                background-image: url("/images/products/dishes/baguettes.jpg");
            }

            display: flex;
            width: fit-content;
            border-radius: 10px;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            
            overflow: clip;
            padding: 0;

            &__content {
                display: flex;
                background-color: hsl(0 0% 0% / .75);

                span {
                    font-size: $h5;
                    margin: .6em 1.25em;
                }
            }
        }
    }
}