<header class="navbar">
    <div class="navbar__brand">
        <BrandNameLogo></BrandNameLogo>
    </div>
    <div class="navbar__links">
        <nav class="navbar__links__content">
            <NavLink class="navbar__links__content__link" href="Admin" Match="NavLinkMatch.All">
                Admin
            </NavLink>
        </nav>
    </div>
</header>