<header class="navbar">
    <div class="navbar__brand">
        <BrandNameLogo></BrandNameLogo>
    </div>
    <div class="navbar__links">
        <nav class="navbar__links__content">
            <HeaderLogin></HeaderLogin>
        </nav>
    </div>
</header>