<header class="navbar">
    <div class="navbar__brand">
        <a class="navbar__brand__link" href="">
            @* <img class="navbar__brand__link__logo" src="icon-192.png" alt="logo"> *@
            <span class="navbar__brand__link__name">Canthenos</span>
        </a>
    </div>
    <div class="navbar__links">
        <nav class="navbar__links__content">
            <NavLink class="navbar__links__content__link" href="Admin" Match="NavLinkMatch.All">
                Admin
            </NavLink>
            @* <NavLink class="navbar__links__content__link" href="weather"> *@
            @*     Weather *@
            @* </NavLink> *@
        </nav>
    </div>
</header>