@code {

    private bool _showPassword = false;

    private string InputType => _showPassword ? "text" : "password";

    private void TogglePasswordVisibility()
    {
        _showPassword = !_showPassword;
        OnTogglePasswordVisibility.InvokeAsync(_showPassword);
    }

    [Parameter] public EventCallback<bool> OnTogglePasswordVisibility { get; set; }

}

<div class="password_toggle">
    <div class="password_toggle__container">
        <button type="button" class="button-checkbox" data-active="@(_showPassword ? "true" : "false")" @onclick="TogglePasswordVisibility">Show Password</button>
    </div>
</div>