<div class="todays_dish">
    <div class="todays_dish__container" onclick="
         let siv = document.querySelector('#MenusDish@(CurrentDay)');
         siv.scrollIntoView({behavior:'smooth'});
         siv.style.transition = 'background-color .2s ease';
         siv.style.background = 'var(--text35)';
         setTimeout(() => {
             siv.style.background='';
         },2000);">
        
        <p class="todays_dish__container__heading">Today's Dish</p>
        <p class="todays_dish__container__dish">@DishName</p>
    </div>
</div>

@code {

    [Parameter] public string? CurrentDay { get; set; }
    [Parameter] public string? DishName { get; set; }

}