<div class="weekly_menu">
    <div class="weekly_menu__todays">
        <TodaysDish></TodaysDish>
    </div>

    <div class="weekly_menu__container">
        <DailyDish SelectedDay="Monday"></DailyDish>
        <DailyDish SelectedDay="Tuesday"></DailyDish>
        <DailyDish SelectedDay="Wednesday"></DailyDish>
        <DailyDish SelectedDay="Thursday"></DailyDish>
        <DailyDish SelectedDay="Friday"></DailyDish>
    </div>
</div>